* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --main-blue: hsl(198, 86%, 60%);
  --blue-accent: hsl(219, 86%, 60%);
  font-size: 62.5%; /* 1rem = 10px */
  --ff-main: "Montserrat", sans-serif;
  --fs-main: 1.6rem;
  --fw-medium: 500;
  --fw-bold: 700;
}

body, html {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  color: var(--black);
}

.main__modal-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__content {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: var(--white);
  border-top: 1rem solid var(--main-blue);
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 3rem;
  padding: 2rem;
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.modal__content-close {
  font-size: 3rem;
  display: flex;
  justify-content: right;
  padding: 1rem;
  cursor: pointer;
}

.modal__form-description {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.modal__title {
  font-family: var(--ff-main);
  letter-spacing: 0.1rem;
}

.modal__text-input,
.modal__email-input,
.modal__text-button {
  display: block;
  width: 100%;
}

.modal__text-input,
.modal__email-input {
  padding: 1rem 0;
  margin-top: 2rem;
  border: 1px solid #f1f1f2;
}

.modal__text-input[type=text] {
  padding: 1rem;
  font-family: var(--ff-main);
  letter-spacing: 0.1rem;
}

.modal__email-input[type=email] {
  padding: 1rem;
  font-family: var(--ff-main);
  letter-spacing: 0.1rem;
}

.modal__text-input:focus,
.modal__email-input:focus {
  outline: 2px solid var(--main-blue);
  border-radius: 0.1rem;
}

.modal__text-button {
  background-color: var(--main-blue);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--white);
  border: none;
  border-radius: 1rem;
  padding: 1.6rem 3.2rem;
  margin-top: 2rem;
}

.modal__text-button:hover {
  background-color: var(--blue-accent);
}

.main__logo {
  width: 7rem;
}

.main__social-media-text {
  font-size: 1.2rem;
  align-self: center;
  margin-right: 1rem;
}

.main__social-media-app-store,
.main__social-media-google-play {
  width: 3rem;
  fill: var(--white);
}

.main__social-media-app-store:hover,
.main__social-media-google-play:hover {
  fill: var(--black);
  transition: 0.5s;
}

.main__social-media-app-store {
  margin-right: 1rem;
}

.main__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.main__content {
  width: 100%;
  height: 50vh;
  padding: 3rem;
  text-align: center;
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font-size: 5rem;
}

figure {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  text-align: center;
}

.main__image {
  width: 100%;
  max-width: 57.8rem;
  min-width: 31.7rem;
  margin: 2rem;
  padding: 2rem;
}

.main__button-open-modal {
  text-align: center;
  padding: 1.6rem 3.2rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--white);
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.main__button-open-modal:hover {
  color: var(--main-blue);
  transition: 0.5s;
}

.main__days,
.main__hours,
.main__minutes,
.main__seconds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.main__label-for-days,
.main__label-for-hours,
.main__label-for-minutes,
.main__label-for-seconds {
  font-size: 1rem;
}

.main__countdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.main__image {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@media (min-width: 1280px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
  }
  figure {
    height: 100vh;
  }
  .main__logo-area {
    position: absolute;
    top: 2rem;
  }
  .main__logo {
    display: flex;
    justify-content: left;
  }
  .modal__content {
    width: 30%;
  }
  .main__title {
    font-size: 8rem;
  }
  .main__call-to-action-text {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .main__countdown {
    font-size: 5rem;
    margin-top: 1rem;
  }
  .main__button-open-modal {
    padding: 1.6rem 5rem;
    margin-top: 1rem;
  }
  .main__social-media {
    margin-top: 3.2rem;
  }
  .main__image {
    width: 54.9rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .main__content {
    height: 100vh;
  }
  figure {
    height: 100vh;
  }
  .main__image {
    width: 40rem;
  }
}
@media screen and (min-width: 409px) and (max-width: 1276px) {
  .main__content {
    height: 50vh;
  }
  figure {
    height: 50vh;
  }
  .main__image {
    width: 37rem;
  }
}
@media screen and (max-width: 1023px) and (min-width: 390px) and (orientation: landscape) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__content {
    height: 100vh;
  }
  figure {
    height: 100vh;
  }
  .main__image {
    width: 37rem;
  }
}/*# sourceMappingURL=main.css.map */