main{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.main__content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--main-blue);
}

.main__logo-area{
    width: 100%;

    display: flex;
    text-align: left;

    padding: 2rem;
    margin-bottom: calc(100vh - 85vh);
}

.main__logo{
    width: 4.5rem;
}

.main__title{
    text-align: left;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 5rem;
    
    letter-spacing: .1rem;
}

.main__call-to-action-text{
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-top: 1rem;
}

.main__button-open-modal{
    background-color: var(--white);

    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;

    color: var(--main-blue);

    border: none;
    border-radius: 1rem;  

    padding: 1.6rem 3.2rem;
    margin-top: 2rem;
}

.main__button-open-modal:hover{
    color: var(--black);
    transition: .5s;
}


.main__social-media-text{
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
    color: var(--white);
}

.main__social-media{
    margin-top: 7rem;
    display: flex;
    gap: 1rem;
}

.main__social-media-google-play,
.main__social-media-app-store{
    width: 3rem;
    fill: var(--white);
    transition: .5s;
}

.main__social-media--hover:hover{
    fill: var(--black);
    
}

figure{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__image{
    width: 100%;
    max-width: 55rem;
    min-width: 30rem;

    padding: 2rem;
}
